[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autoblazon = {path = ".",editable = true}
ipython = "*"
lark-parser = "*"
pudb = "*"

[requires]
python_version = "3.7"
